@import './tailwind.css';

body,
#app {
    min-height: 100vh;
    /* color: blue; */
    /* background: red; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply max-w-screen-sm mx-auto;
}


.aspect-photo {
    aspect-ratio: 4/3;
}

.aspect-banner {
    aspect-ratio: 2/1;
}


/*a.router-link-exact-active {*/
/*  color: red;*/
/*}*/

/*a.router-link-exact-active:hover {*/
/*  background-color: transparent;*/
/*}*/
